# Byte code files from java
*.class
*.never_to_be_committed
repomix-output.xml
repomix-output.md
repomix-output.*
# ==========================
# Maven
# ==========================
target/
# Maven Wrapper (optional)
.mvn/wrapper/maven-wrapper.jar

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
Notes/.obsidian
# ==========================
# VS Code
# ==========================
.vscode/

# (Optional)
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# ==========================
# Eclipse
# ==========================
.project
.classpath
.settings/

# ==========================
# NetBeans
# ==========================
nbproject/private/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Java
# ==========================
*.class
*.log
*never_to_be_committed*